@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


.social-panel-container {
	position: fixed;
	float: right;
	left: 0;
	bottom: 80px;
	transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 999;
}

.social-panel-container.visible {
	transform: translateX(10px);
}

.social-panel {
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0, 0, 0, 0.6);
	border: 5px solid rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 269px;
	width: 370px;
    max-width: calc(100% - 10px);
    background: #ffffff;
}

.social-panel button.close-btn {
	border: 0;
	color: rgb(0, 0, 0);
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	background: #ffffff;
	top: 2px;
	right: 9px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: rgb(0, 0, 0);
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}



.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;
	font-family: 'Muli';
	font-size: 14px;

	text-transform: uppercase;
}



.floating-btn {
	border-radius: 26.5px;
	background-color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;

	padding: 12px 20px;
	position: fixed;
	float: left;
	bottom: 20px;
	left: 5px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #000000;
}

.floating-btn:focus {
	outline: none;
}


/* Chat view */

.chat-users{
	width: auto;
	height: 50px;
	margin-top: 40px;
}

  .chat-avatar {
	width: 36px;
	height: 36px;
	float: left;
	margin-right: 10px;
	border-radius: 10px;

  }
  .chat-user-name {
	padding: 10px;
  }
  .chat-user {
	padding: 8px 10px;
	border-bottom: 1px solid #e7eaec;
  }
  .chat-user a {
	padding: 8px 0;
    color: rgb(71, 57, 57);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;

  }
  .chat-user :hover{
	  background: rgb(212, 212, 212);
	  border-radius: 10px;
	  color: rgb(255, 255, 255);
  }


  .chat-users,
  .chat-statistic {
	margin-left: 20px;
  }
  @media (max-width: 992px) {
	.chat-users,
	.chat-statistic {
	  margin-left: 0;
	}
  }




  .chat-users {
	overflow-y: scroll;
	height: 170px;
  }

  ::-webkit-scrollbar{
	  display: none;
  }


@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}

	.floating-btn {
		right: 10px;
	}
}


.post-header a img{
    height: 50px;
    width: 50px;
}

.comment-avatar a img{
    height: 50px;
    width: 50px;
}

.forum-header a img{
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
}

